{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{ blog.blog_title }} {% endblock %}
{% block body_block %}

<div class="row">
    <div class="col-sm-6">
        <h2>{{ blog.blog_title }}</h2>
        <h4>Posted by : {{ blog.author }}</h4>
        <h6><i>Published on : {{ blog.publish_date }}</i></h6>
        <h6><i>Updated on : {{ blog.update_date }}</i></h6>
        <h6>{{ blog.liked_blog.count }} Likes | {{ blog.disliked_blog.count }} Dislikes | {{ blog.blog_comment.count }} Comments</h6>
        <!-- <h6>{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6> -->
    </div>
    <div class="col-sm-6">
        <img src="{{ blog.blog_image.url }}" class="img-fluid" alt="Responsive image" title="{{ blog.blog_title }}" width="100%">
    </div>
    <p>
        {{ blog.blog_content|linebreaks }}
    </p>
</div>

{% if not liked %}
<a href="{% url 'App_Blog:liked_post' pk=blog.pk %}"><i class="fa-regular fa-thumbs-up" style="color: #11a21b;"></i></a> |
{% else %}
<a href="{% url 'App_Blog:unliked_post' pk=blog.pk %}"><i class="fa-regular fa-thumbs-up fa-bounce" style="color: #11a21b;"></i></a> |
{% endif %}

{% if not disliked %}
 <a href="{% url 'App_Blog:disliked_post' pk=blog.pk %}"><i class="fa-regular fa-thumbs-down" style="color: #a21111;"></i></a>
{% else %}
 <a href="{% url 'App_Blog:undisliked_post' pk=blog.pk %}"><i class="fa-regular fa-thumbs-down fa-bounce" style="color: #a21111;"></i></a>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <hr>
        <h5>Comments : </h5>
        {% for comment in blog.blog_comment.all %}
        <div class="card">
            <div class="card-body">
                <h6 class="card-title"><a href="#">{{ comment.user }}</a></h6>
                <p class="card-text">{{ comment.comment }}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{ comment.comment_date }}</h6>
            </div>
        </div>
        <!-- <p><a href="">{{ comment.user }}</a> {{ comment.comment }} <br><h6>{{ comment.comment_date }}</h6></p> -->
        {% endfor %}

    </div>
    <div class="col-sm-6">
        <hr>
        <h5>Leave a comment : </h5>
        <form method="post">
            {{ comment_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">Comment</button>
        </form>
    </div>
</div>
<br>
<br>

{% endblock %}